.headerContainer {
    display: flex;
    justify-content: space-between;
    width: 95%;
    align-items: center;
    margin-left: 10px;
    margin-top: 30px;
}

.link {
    color: #000;
    font-family: SF Pro Rounded;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    padding: 10px;
    text-transform: capitalize;
}
@media screen  and  (max-width:768px) {

    .headerContainer {
        /* display: flex;
        justify-content: space-between;
        width: 95%;
        align-items: center;
        margin-left: 10px;
        margin-top: 30px; */
        background-color: red;  
    }
}