.label {
    display: block;
    color: #5E5E5E;
    font-family: SF Pro Rounded;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;

}
.input{
    width: 394px;
}
.longInput,.textarea,.form_container,.containInput{
    width: 868px;
    
}
.longInput,.input{
    height: 43px;
    border-radius: 5.964px;
}
.textarea{
    height: 162px;
    resize: none;
    border-radius: 5.964px;

}

.containInput{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
   
}
.form_container{
    height: 940px;
}
